body
{
	font-family: 'Roboto', sans-serif;
}

h4
{
	color: #81cbc8;
}

.navbar-brand
{
	font-size: 2em;
}

.navbar-brand i
{
	color: #81cbc8;
}

.navbar-brand span
{
	color: #4aa6b5;
	font-family: 'Lobster', cursive;
}

#img-presentation
{
	width: 100%;
	background: url('../img/img6.jpg') no-repeat center center;
	background-size: cover;
	margin-bottom: 30px;
	text-align: center;
	height: 600px;
	color: #4aa6b5;
	font-family: 'Lobster', cursive;
}

#img-presentation h1
{
    font-size: 4em;
}

#img-presentation .container
{
	padding-top : 300px;
}

.navbar-default 
{
    background-color: #ecfafb;
    border-color: #ecfafb;
    width: 100%;
    z-index: 1000;
    position: fixed;
    top: 0;
}

#navbarxs
{
    border-color: #ecfafb;
    z-index: 1000;
    bottom: : 0;
}

ul#navbarxs li
{
    display: inline;
}

.navbar-nav li a
{
    color: #81cbc8!important;
}

.navbarmenuxs
{
	width:100%;
	text-align: center;
	margin: 0;
}

.navbar-nav li a:hover
{
    color: #4aa6b5!important;
    font-weight: bold;
    background-color: #d6c481!important;
}

.thumbnail
{
	padding: 0px!important;
	border-radius: 8px;
}

.thumbnail.index
{
	height: 100%;
}

.thumbnail.index img
{
	height: 200px;
    width: 100%;
}

.listTricks a
{
	color: #81cbc8!important;
	padding-right: 8px;
	font-weight: bold;
}

.listTricks a:hover
{
	color: #4aa6b5!important;
	text-decoration: none!important;
}

footer
{
	color: #4aa6b5;
	background-color: #d6c481;
	text-align: center;
}

footer a
{
	color: #4aa6b5;
}

.copyright:hover
{
   text-decoration: none;
   font-weight: bold;
   color: #4aa6b5;
}

.img_presentation_trick img
{
  width: 100%;
  border-radius: 4px!important;
}

.img_presentation_trick .setting_trick
{
	position: absolute;
	background-color: #ecfafb;
	border-radius: 2px;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 10px;
	margin-left: 10px;
}

.img_presentation_trick .setting_trick a
{
	color: #4aa6b5;
}

.img_presentation_trick .setting_trick a:hover
{
	color: #81cbc8;
}

.presentation_trick h1
{
	text-align: center;
	font-family: 'Lobster', cursive;
	color: #4aa6b5;
}

/*.presentation_trick img
{
	width: 100%;
	height: auto;*/
}

.picture 
{
	width: 100%;
	height: 80%;
}

.picture img
{
	width: 100%;
	height: 300px;
	background-size: cover;
	margin-bottom: 10px;
	border-radius: 8px;
}

.description_trick
{
	width: 80%;
	background: #ecfafb;
	margin-right: 10%;
	margin-left: 10%;
	text-align: justify;
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.information_trick
{
	width: 80%;
	margin-right: 10%;
	margin-left: 10%;
	text-align: center;
}

#btn_category
{
	background-color: #81cbc8;
}

.form-group
{
	font-family: 'Lobster', cursive;
	color: grey;
}

.btn
{
	background-color: #81cbc8;
	border: 2px solid #4aa6b5;
	font-weight: bold;
}

.btn:hover
{
	background-color: #4aa6b5;
	border: 2px solid #81cbc8;
	font-weight: bold;
	
}

.form_comment
{
	width: 70%;
	margin-right: 15%;
	margin-left: 15%;
}

.list_comment
{
	width:70%;
	margin-right: 15%;
	margin-left: 15%;
}

.list_comment img
{
	width:70%;
	height: auto;
	border-radius: 5px;
	top:0;
}

.list_comment span
{
	color: #4aa6b5;
}

hr
{
	margin-top: 10px!important;
	margin-bottom: 10px!important;
	border-top: 1px solid #4aa6b5;
}

.form_comment .well
{
	background-color: #ecfafb;
	border: 1px solid #ecfafb;
}

#login
{
	margin-top: 100px;
}

#trick
{
	margin-top: 100px;
}
