{% extends "STAppBundle::layout.html.twig" %}

{% block title %}
	Ajouter une figure - {{ parent() }}
{% endblock %}

{% block javascripts %}
	<script type="text/javascript" src="{{ asset('js/picture_add_form.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/video_add_form.js') }}"></script>
{% endblock %}

{% block body %}

	<div class="container">
	    <div class="form_add_trick">

			<h4><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Ajouter une figure</h4>

			{{ include("STAppBundle:Trick:form.html.twig") }}

			<p><span class="label label-info">Info</span> Cette figure sera ajoutée directement sur la page d'accueil après validation du formulaire.</p>
		</div>
	</div>
	
{% endblock %}