{% extends "STAppBundle::layout.html.twig" %}

{% block title %}
	Ajouter une figure - {{ parent() }}
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('js/picture_add_form.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/video_add_form.js') }}"></script>
{% endblock %}

{% block body %}

	<h3>Ajouter une figure</h3>

	{{ include("STAppBundle:Trick:form.html.twig") }}

	<p>Cette figure sera ajoutée directement sur la page d'accueil après validation du formulaire</p>
	
{% endblock %}