<h3>Bienvenue sur SnowTricks</h3>

<p>Bonjour {{ name }}, Vous avez oublié votre mot de passe ?</p>

<p>Pas de panique vous allez pouvoir le changer ici en cliquant sur ce lien : 
<a href="{{ app.request.schemeAndHttpHost }}{{ path('reset_password', {'token': token}) }}">J'ai oublié mon mot de passe.</a></p>

<p>A bientot sur notre site.</p>

<p>L'équipe SnowTricks.</p>