<h3>Bienvenue sur SnowTricks</h3>

Bonjour {{ name }}, Vous avez oublié votre mot de passe ?

 Pas de panique vous allez pouvoir le changer en cliquant sur ce lien : 
 <a href="{{ path('reset_password', {'token': token}) }}">J'ai oublié mon mot de passe</a>